.containerCabecalho {
	display: flex;
	flex-direction: column;
	align-items: center;

}

.containerConteudoPrincipal {
	text-align: center;
}

.containerConteudoPrincipal li {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}

.containerContato {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}



		/*MOBILE*/
@media(max-width: 768px) {

	.containerCabecalho {
		display: flex;
		justify-content: center;
		
	}

}