<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>The Vultures</title>
	<link rel="stylesheet" href="reset.css">
	<link rel="stylesheet" href="parana-santaCatarina.css">
</head>
<body>
	<div class="imagemFundo">
		<div class="listaDeShows">
		<h1>Shows no Paraná</h1>
		<ul>
			<li>
				<h2>Curitiba</h2>
				<p>Dia 10 de Outubro de 2021</p>
				<p>Dia 20 de Outubro de 2021</p>	
			</li>
			<li>
				<h2>Araucária</h2>
				<p>Dia 10 de Dezembro de 2021</p>
				<p>Dia 15 de Dezembro de 2021</p>
			</li>
			<li>
				<h2>Campo Largo</h2>
				<p>Dia 20 de janeiro de 2021</p>
			</li>
		</ul>	
	</div>	
	</div>
	
</body>