<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>The Vultures</title>
	<link rel="stylesheet" href="reset.css">
	<link rel="stylesheet" href="parana-santaCatarina.css">
</head>
<body>
	<div class="imagemFundo">
		<div class="listaDeShows">
		<h1>Shows em Santa Catarina</h1>
		<ul>
			<li>
				<h2>Balneário Camboriú</h2>
				<p>Dia 15 de Novembro de 2021</p>	
			</li>
			<li>
				<h2>Itajaí</h2>
				<p>Dia 20 de Novembro de 2021</p>
				<p>Dia 21 de Novembro de 2021</p>
			</li>
		</ul>	
	</div>	
	</div>
</body>